name: CD
on:
  push:
    tags:
      - "*"     # any tag pushed will trigger the release process. but publish should be gated by version_checker tool itself
  workflow_dispatch:
    inputs:
      skip-check:
        description: "Skip the version check step?"
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # ensure HEAD~1 is present for version check...

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[build]"
          python -m build

      - name: Verify Version Bumped
        if: github.event_name != 'workflow_dispatch' || fromJSON(github.event.inputs['skip-check']) != true
        run: |
          python -m pip install --upgrade pip
          python -m pip install "."
          version_checker -b HEAD~1 -c HEAD

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
